<div class="container__block -narrow">
    <div class="cta">
        <div class="wrapper">
           

                <!-- bot signup protection - real people won't fill this in -->
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_{{ site.mailchimp.user-id }}_{{ site.mailchimp.list-id }}" tabindex="-1" value=""></div>

                <div class="form-actions"><input type="submit" value="Get our latest posts" name="subscribe" class="button"></div>
                <p class="footnote">Only nerdy stuff. We'll never spam you.</p>
            
        </div>
    </div>
</div>
