<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/phil-blog">Philosophical contemplations </a></li>
                                <li><a href="https://sinhp.github.io/CARGOnotes/">Mathematical scribblings  </a></li>
				<li><a href="/ThisWebsite">About this website </a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:sinahazratpourb@gmail.com">email</a></li>
	        		<li><a href="https://github.com/sinhp">github.com/sinhp</a></li>
				</ul>
			</footer>
		</body>
	</html>
